{include file='common/header'}
<link rel="stylesheet" href="/static/css/suxin.css">
<link rel="stylesheet" href="/static/css/GuanYuSuXin.css">
<!--轮播图开始-->
<div class="IMG-box">
    <div class="IMG">
        <img src="/static/img/1519994559.JPG" alt="">
    </div>
</div>
<!--轮播图结束-->
<!--素馨花卉工作室开始-->
<div class="work-box">
    <div class="work-bd">
        <p id="work-p">
                <span>
                     雨辰花卉有限公司由优秀的花艺、花卉设计师林雨辰于2016年成立。
                </span>
        </p>
        <p >
                <span>
                    经营范围：花卉、工艺品、饰品的销售；礼仪策划；花卉、苗木种植技术咨询。
                </span>
        </p>
        <p >
                <span>
                    前期以鲜花、花束的包装及零售为主，逐渐过渡到花艺培训、家庭园艺
                    等花香生活的指导，以及与花卉相关的文学创作。
                </span>
        </p>
        <p >
                <span>
                    公司致力于将多彩花艺带入寻常人家，让对生活有着更高追求的人们
                    享受温馨素雅的花香世界，力求将这种文化做到极致。
                </span>
        </p>
        <p >
                <span>
                    公司地址：苏州市 相城区 城通路 县直一初中家属院 1单元201室
                </span>
        </p>
        <p >
                <span>
                    联系电话：0371-62180519  15890062947
                </span>
        </p>
        <p >
                <span>
                    电子邮箱：office@yuchenhuahui.com
                </span>
        </p>
        <p >
                <span>
                </span>
        </p>
        <div id="allmap"></div>

    </div>
    <div class="bottom"></div>
</div>
<!--素馨花卉工作室结束-->
{include file='common/footer'}
<!--返回顶部按钮开始-->
<div class="back">
    <i class="iconfont icon-een"></i>
</div>
<!--返回顶部按钮结束-->
<script src="/static/js/GuanYuSuXin.js"></script>
