<!--素馨首页底部开始-->
<footer class="foot-box">
    <div class="foot-a">
        <a href="" class="Haoba" >
            <!--<i class="iconfont icon-weixin"></i>-->
            <img src="/static/img/weixin.png" alt="">
            <div class="ErWeiMa">
                <img src="/static/img/1496718375368861.png" alt="">
            </div>
        </a>
        <a href="">
            <i class="iconfont icon-qq"></i>
            <!--<img src="img/qq.png" alt="">-->
        </a>
        <a href="">
            <i class="iconfont icon-youxiang2"></i>
            <!--<img src="img/email.png" alt="">-->
        </a>
    </div>
    <p class="foot-p">
        <a href="" class="foot-p-a1">
            豫ICP备17021305号
        </a>
        <img  class="footimg" src="/static/img/gonganbeian.png" alt="">
        <a href="" class="foot-p-a1">
            豫公网安备 41012202000160号
        </a>
    </p>
    <p class="foot-p">
        联系电话 0371-62180519  15890062947
    </p>
    <p class="foot-p high">
        郑州素馨花卉有限公司 版权所有 © 2017-2021
    </p>
</footer>
<!--素馨首页底部结束-->
<script src="/static/js/jquery.js"></script>