{include file='common/header'}
<form class="layui-form" action="" id="form">
    <!--<div class="layui-form-item">
        <label class="layui-form-label">旧密码</label>
        <div class="layui-input-inline">
            <input type="password" name="password" required lay-verify="required|password" placeholder="请输入密码" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">请输入旧密码</div>
    </div>-->
    <div class="layui-form-item" >
        <label class="layui-form-label">原始密码</label>
        <div class="layui-input-inline">
            <input type="password" name="password" required lay-verify="required|password" placeholder="请输入密码" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">请输入旧密码</div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">新密码</label>
        <div class="layui-input-inline">
            <input type="password" name="newpassword" required lay-verify="required|password|" placeholder="请输入密码" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">请输入新密码</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">确认密码</label>
        <div class="layui-input-inline">
            <input type="password" name="newpassword2" required lay-verify="required|password|repassword" placeholder="请输入密码" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">请确认新密码</div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo" id="submit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
{include file='common/footer'}
<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;
        //监听提交
       /* form.on('submit(formDemo)', function(data){
            // layer.msg(JSON.stringify(data.field));
            return false;
        });*/
        form.verify({
            password:function (value) {
                var reg=/^[a-z0-9A-Z]{6,}$/;
                if (!reg.test(value)){
                    return "密码必须由六位以上的字母或数字组成";
                }
            },
            repassword:function (value) {
                if (value!==$("[name=newpassword]").val()) {
                    return "两次面输入必须一致";
                }
            }
        });
    });
    $("#submit").click(function (e) {
        e.preventDefault();
        var str=$("#form").serialize();
        $.post("{:url('admin/admin/changepass')}",str,function (r) {
            if (r.code===404){
                layer.msg(r.msg);
            }else if(r.code===200){
                layer.msg(r.msg);
                $("#form")[0].reset();
            }else{
                layer.msg(r.msg);
            }
        })
    })
</script>
